#message-container {
  scrollbar-color: #202225 #2f3033;
  scrollbar-width: thin;
}


#message-container::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(32, 34, 37, 0.267);
	border-radius: 4px;
	background-color: #2f3033;
}

#message-container::-webkit-scrollbar
{
	width: 8px;
	background-color: #36393f;
}

#message-container::-webkit-scrollbar-thumb
{
	border-radius: 4px;
	-webkit-box-shadow: inset 0 0 6px rgba(32,34,37,.3);
    background-color: #202225;
}

